depricated/
resources
__pycache__
.idea
.vscode
.pytest_cache
fleet weabapp
fontawesome-free-5.15.4-web/
hello.cpp
.vs
x64
src.sln
*.filters
src.vcxproj.user
src.vcxproj.filters
src.vcxproj
basic.cpp
debug.cpp
