altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astor==0.8.1
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
biopython==1.79
bleach==3.2.1
blinker==1.4
bokeh==2.3.2
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
caer==1.9.8
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chronological==0.1.1
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
dash==1.20.0
dash-bootstrap-components==0.12.2
dash-core-components==1.16.0
dash-design-kit==0.0.1
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==5.0.9
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.5
docutils==0.17.1
entrypoints==0.3
essential-generators==1.0
fake-useragent==0.1.11
feedparser==6.0.8
filelock==3.0.12
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
get-all-tickers==1.7
gitdb==4.0.7
GitPython==3.1.14
-e git+https://github.com/openai/gym@ee5ee3a4a5b9d09219ff4c932a45c4a661778cd7#egg=gym
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
imantics==0.1.12
imgaug==0.4.0
importlib-metadata==4.6.1
incremental==21.3.0
iniconfig==1.1.1
investpy==1.0.7
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.2
isort==5.6.4
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
Keras==2.4.3
keyring==23.0.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
labelme2coco==0.1.2
lazy-object-proxy==1.4.3
llvmlite==0.36.0
loguru==0.5.3
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
multitasking==0.0.9
mypy==0.910
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.6.2
nmap==0.0.1
nose==1.3.7
notebook==6.1.6
numba==0.53.1
numpy==1.20.3
openai==0.7.0
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
packaging==20.9
pandas==1.2.4
pandas-datareader==0.9.0
pandocfilters==1.4.3
parse==1.19.0
parsel==1.6.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
pipenv==2020.11.15
pixellib==0.6.6
pkginfo==1.7.0
plotly==4.14.3
pluggy==0.13.1
priority==1.3.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.17.3
py==1.10.0
py3Dmol==0.9.1
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.6.2
PyDispatcher==2.0.5
pyee==8.1.0
pyfaidx==0.5.9.5
pyglet==1.5.15
Pygments==2.9.0
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pypiwin32==223
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
pytest==6.2.4
python-box==5.3.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-slugify==5.0.2
pytz==2021.1
PyWavelets==1.1.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.0.1
QtPy==1.9.0
queuelib==1.6.1
Random-Word==1.0.4
readme-renderer==29.0
requests==2.25.1
requests-html==0.10.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
scapy==2.4.4
scikit-image==0.18.2
scipy==1.6.3
Scrapy==2.5.0
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
sgmllib3k==1.0.0
Shapely==1.7.1
six==1.16.0
smmap==4.0.0
soupsieve==2.2.1
sqlparse==0.4.1
squiggle==0.3.1
streamlit==0.82.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
tifffile==2021.8.8
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
twine==3.4.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typed-ast==1.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
Unidecode==1.2.0
urllib3==1.26.2
validators==0.18.2
virtualenv==20.3.1
virtualenv-clone==0.5.4
w3lib==1.22.0
watchdog==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
win32-setctime==1.0.3
wrapt==1.12.1
xmljson==0.2.1
yahoo-fin==0.8.8
yfinance==0.1.59
zipp==3.4.0
zope.interface==5.4.0
