:root{
    --black: #20212A;
    --logogreen: #72CD95;
    --logosize: 35px;
    --sidebarheight: 100vh;
    --dashboardcolor: #DDE2FF;
    --newdashboardcolor: #F7F8FC;
    --fontfamily: 'Roboto', sans-serif;

}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fontfamily);
}

.Dashboard{
    background: var(--dashboardcolor);
    display: flex;
    height: 980px;
}
/* SIDEBAR DESKTOP 1440*890PX DESIGN */
.Dashboard-sidebar{
    background: var(--black);
    width: 20%;
    display: block;
}
.Dashboard-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}
.Dashboard-logo > h1{
    color: #A4A6B3;
    font-family: var(--fontfamily);
    font-size: 30px;
}
.Dashboard-logo >img{
    padding-right: 8px;
}
.Dashboard-links{
    display: block;
}
.Dashboard-li-links >h1{
    color: #DDE2FF;
    font-family: var(--fontfamily);
    font-size: 16px;
    padding-left: 40px;
    padding-top: 10px;
}
.Dashboard-li-links{
    height: 50px;
}
.Dashboard-li-links:hover{
    background: #3f4047;
    border-left: 3px solid #DDE2FF;
}

/* TOPBAR DESKTOP 1440*890PX DESIGN */
.maincontent{
    display: block;
}
.topbar{
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.topbar-text{
    width: 100%;
    padding-left: 20px;
}
.topbar-text > h1{
    font-family: var(--fontfamily);
    font-size: 24px;
}
.topbar-icons
/* MAIN CONTENT 1440*890PX DESIGN */
.dashboard-main{
    display: block;
}

/* TOP CARD DESKTOP STYLE */
.dashboard-main-top-card{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: -70px;
}
.dashboard-card-one{
    height: 100px;
    width: 250px;
    background: #FFFFFF;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    border: 2px solid #DFE0EB;
}
.dashboard-card-title{
    font-family: var(--fontfamily);
    color: #9FA2B4;
    font-size: 19px;
}
.dashboard-card-value{
    font-family: var(--fontfamily);
    color: #252733;
    font-size: 30px;
}
/* MIDDLE CARD STYLE DESKTOP */
.dashboard-middle-card{
    padding-left: 20px;
}
.dashboard-middle-card-one{
    height: 60vh;
    width: 79vw;
    background: #FFFFFF;
    border-radius: 8px;
}
/* MIDDLE CARD CONTENT */

/* BOTTOM CARD STYLE DESKTOP */
.dasboard-bottom-cards{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.dashboard-bottom-card-one{
    width: 540px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 43px;
}
.dashboard-bottom-card-two{
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 8px;
}

/* BOTTOM CARD CONTENT STYLE */