/* Footer styling desktop 1440*890 */

:root{
    --black: #20212A;
    --logogreen: #72CD95;
    --logosize: 35px;
    --footerheight: 630px;
    --mobilefooterheight: 400px;
    --robotofont: 'Roboto', sans-serif;
}
.footer{
    background: var(--black);
    height: var(--footerheight);
}
.footer-text{
    padding: 100px 300px 90px 400px;
}
.footer-text >h1{
    color: var(--logogreen);
    font-family: 'Roboto', sans-serif; 
    font-size: 65px;
}
.footer-text>p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-button-text{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px; 
}
.footer-links{
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    color: var(--logogreen);
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
}
.footer-logo >a{
    text-decoration: none;
    color: var(--logogreen);
}
.footer-twitter{
    color: var(--logogreen);
    font-family: 'Roboto', sans-serif;
    padding-right: 40px; 
}

/* footer styling smartphone max width 500 */
@media only screen and (max-width: 500px){
    .footer{
        height: var(--mobilefooterheight);
    }
    .footer-text{
        padding: 10px 0px 0px 10px;
    }
    .footer-text >h1{
        font-size: 45px;
    }
    .footer-text>p{
        font-size: 18px;
    }
    .footer-logo{
        padding-left: 30px;
    }
    .footer-twitter{
        padding-right: 30px; 
    }
}