:root{
    --black: #20212A;
    --logogreen: #72CD95;
    --logosize: 35px;
    --headerheight: 600px;
    --fontfamily: 'Roboto', sans-serif;
    --active-button: #DEF1EF;
    --active-button-text: #3C3B52;
    --linecolor: #C0C2C2;
    --inputcolor: #B7B9BF;
}

.login {
    position: relative;
    background: var(--black);
    height: 100vh;
}
.login-content{
    display: flex;
}
.login-left-text{
    display: block;
    padding-top: 20px;
}
.login-left-text >h1{
    color: var(--logogreen);
    font-family: var(--fontfamily);
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0px 10px 30px;  
}
.login-left-text >img{
    padding: 0px 0px 0px 30px;
    height: 70vmin;
    pointer-events: none;
}
.login-card-right{
    height: 90vh;
    width: 450px;
    background: white;
    border-radius: 10px;
    margin: 40px 0px 0px 70px;
    display: block;
}
.card-button{
    padding: 50px 0px 0px 70px;
    display: flex;
}
.signin-button{
    background-color: var(--active-button);
    color: var(--active-button-text);
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 170px;
    border-radius: 40px;
    border: none;
    font-family: var(--fontfamily);
    font-weight: bold;
    font-size: 20px;
}
.signup-button{
    background-color: var(--logogreen);
    color: white;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    border: none;
    font-family: var(--fontfamily);
    font-weight: bold;
    font-size: 20px;
    margin-left: -40px;
}
.card-forms{
    padding: 50px 40px 0px 20px;
}
.card-forms > form >ul{
	padding:0;
	margin:0;
	list-style:none;
}
.card-forms > form >ul{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.card-forms > form >ul >li >input.align-left{
	float:left;
}
.card-forms > form >ul >li> input.align-right{
    float:right;
}
.card-forms > form >ul >li> .field-split{
	width: 49%;
}
.card-forms > form >ul >li> .field-full{
	width: 100%;
}
.card-forms > form >ul >li> input[type="submit"] {
    margin: 30px 0px 0px 0px;
    color: white;
    background-color: var(--logogreen);
    border-radius: 10px;
    border: none;
    font-family: var(--fontfamily);
    font-size: 23px;
    display: inline-block;
    width: 400px;
}
input{
    padding: 12px 10px;
    margin: 8px 0px 20px 0px;
    border: none;
    border-bottom: 2px solid var(--linecolor);
    box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    font-family: var(--fontfamily);
    color: #B7B9BF;
}

.card-google-auth{
    margin-left: 20px;
    display: flex;
    width: 400px;
    height: 50px;
    border: 1px solid var(--linecolor);
    border-radius: 10px;
    background-color: #FFFDFD;
    text-align: center;
    justify-content: center;
}
.card-google-auth > img{
    height: 5vmin;
    padding-top: 10px;
    padding-right: 3px;
}
.card-google-auth >h1{
    color: #B7B9BF;
    font-family: var(--fontfamily);
    font-size: 20px;
}
.card-footer-text >h2{
    margin-left: 20px;
    color: #B7B9BF;
    font-family: var(--fontfamily);
    font-size: 14px;
}
.card-footer-text > h2>a {
    color: var(--logogreen);
    text-decoration: none;
}
.signin-padding{
    margin-bottom: 40px;
}
.card-forms-padding{
    padding: 100px 40px 0px 20px;
}
.signup-button-update{
    width: 170px;
    z-index: 10;
}
.signin-button-update{
    margin-left: -40px;
}
.card-button-update{
    padding: 50px 0px 0px 100px;
}